@keyframes spin {
    0%{
       transform: rotateX(-6deg) rotateY(-20deg);
    }
    50%{
        transform: rotateX(-6deg) rotateY(20deg);
    }
    100%{
       transform: rotateX(-6deg) rotateY(-20deg);
    }
  }
  
  @keyframes spin2 {
    0%{
       transform: rotateX(0) rotateY(0);
    }
    25%{
        transform: rotateX(-4deg) rotateY(-15deg);
    }
    50%{
        transform: rotateX(-4deg) rotateY(15deg);
    }
    100%{
      transform: rotateX(0) rotateY(0);
    }
  
  }
  
  @keyframes shiny {
    0%{
      background-position: -800px 0;
    }
    40%{
      opacity: 0;
      background-position: 1800px 0; 
    }    
    100%{
      opacity: 0;
      background-position: 1800px 0; 
    }  
  }